body,div,ol,ul,li,p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
    font-weight: normal;
    font-family: "微软雅黑";
    color: #333333;
}
ol,li,ul{
	list-style: none;
}
a{
    text-decoration: none;
    color: #333333;
}
.clear{
    clear: both;
}

@media screen and (min-width: 1297px){
    body{
        width: 1280px;
        margin: 0 auto
    }
}

@media screen and (max-width: 1297px){
    body{
        width: 100%;
    }
}