@import "reset.css";

.header{
    background-color: #000000;
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 26px;

    @media screen and (max-width: 1054px){
        text-align: center;
    }

    *{
        display: inline-block;
        color: #ffffff;

        @media screen and (max-width: 1054px){
            display: block;
        }
    }

    .company-name{
        margin-left: 12px;
    }

    .nav{
        margin-left: 415px;

        @media screen and (max-width: 1054px){
            margin: 0;
        }
    }

    .lang{
        margin-left: 42px;

        @media screen and (max-width: 1054px){
            margin: 0;
        }
    }
    
    ul{
        li{
            border-right: 2px solid #ffffff;
            padding-left: 5px;
            padding-right: 5px;

            @media screen and (max-width: 1054px){
                border: none;
            }
        }

        li:last-child{
            border: none;
        }
    }
}

.logo{
    padding-top: 26px;
    padding-bottom: 33px;

    img{
        display: block;
        width: 255px;
        height: 37px;
        margin: 0 auto;
    }
}

.nav-bar{
    background-color: #1f1f1f;
    padding-top: 14px;
    padding-bottom: 12px;
    text-align: center;

    ul{
        li{
            display: inline-block;

            @media screen and (max-width: 803px){
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            a{
                color: #ffffff;
                font-size: 16px;
                padding-top: 14px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 12px;
                margin-right: 20px;

                @media screen and (max-width: 803px){
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
        li:hover{
            a{
                background-color: #000000;
            }
        }
    }
}

.banner{
    height: 525px;
    position: relative;
    text-align: center;
    overflow: hidden;

    @for $i from 1 through 3{
        .banner-img#{$i}{
            width: 978px;
            height: 100%;
            position: absolute;
            top: 0;
            transition: 0.5s;

            @media screen and (max-width: 1297px){
                width: 100%;
                left: 0;
            }
            
            img{
                width: 100%;
                height: 100%;
            }

            .switch{
                label{
                    display: none;
                    width: 16%;
                    height: 100%;
                    font-size: 100px;
                    line-height: 525px;
                    color: #ffffff;
                    background-color:rgba($color: #333333, $alpha: 0.5);
                    text-align: center;
                    position: absolute;
                    top: 0;
                    z-index: 9;
                    cursor: pointer;
                }
                label:first-child{
                    left: -16%;

                    @media screen and (max-width: 1297px){
                        left: 0;
                    }
                }
                label:last-child{
                    right: -16%;

                    @media screen and (max-width: 1297px){
                        right: 0;
                    }
                }
            }
        }
    }

    .banner-img1{
        left: 12%;
        z-index: 10;
    }

    .banner-img2{
        left: 0;
    }

    .banner-img3{
        right: 0;
    }

    input[type="radio"]{
        display: none;
    }

    input[name="banner_img"]:checked + div{
        left: 12%;
        z-index: 10;

        @media screen and (max-width: 1297px){
            left: 0;
        }
    }

    input[name="banner_img"]:checked + div .switch label{
        display: block;
    }
}

.title{
    padding-top: 20px;
    padding-bottom: 16px;
    text-align: center;

    .text{
        display: inline-block;
        width: fit-content;
        margin: 0 auto;
        position: relative;

        .cn{
            font-size: 24px;
        }

        .en{
            font-size: 12px;
            color: #7e7e7e;
        }
    }

    @mixin title-line{
        content: '';
        width: 169px;
        height: 2px;
        background-color: #000000;
        position: absolute;
        top: 50%;
    }

    .text::before{
        @include title-line;
        right: 120%;
    }

    .text::after{
        @include title-line;
        left: 120%;
    }
}

.nav-bottom{
    background-color: #1f1f1f;
    padding-top: 12px;
    padding-bottom: 10px;
    text-align: center;

    ul{
        li{
            display: inline-block;
            font-size: 12px;
            padding-left: 10px;
            padding-right: 15px;
            border-right: 1px solid #ffffff;

            @media screen and (max-width: 582px){
                display: block;
            }

            a{
                color: #ffffff;
            }
        }

        li:last-child{
            border: none;
        }
    }
}

.footer{
    background-color: #000000;
    padding-top: 22px;
    padding-bottom: 22px;

    .content{
        width: 978px;
        margin: 0 auto;

        @media screen and (max-width: 1297px){
            width: 100%;
        }

        div{
            display: inline-block;
            border-right: 1px solid #ffffff;

            @media screen and (max-width: 914px){
                display: block;
                text-align: center !important;
            }
        }
    
        div:last-child{
            border: none;
        }
    
        .phone{
            padding-left: 19px;
            padding-right: 37px;
            text-align: right;

            p{
                font-size: 12px;
                color: #ffffff;
                line-height: 20px;
            }
        }

        .address{
            padding-left: 67px;
            padding-right: 70px;

            p{
                font-size: 12px;
                color: #ffffff;
                text-align: center;
                line-height: 30px;
            }
        }

        .qrcode{
            padding-left: 38px;

            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}